@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
:root {
  --line-color: #538be7;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 4px solid var(--line-color);
  position: fixed;
  width: 200px;
  height: 100vh;
}
@media (min-width: 280px) {
  aside {
    display: none;
  }
}
@media (min-width: 576px) {
  aside {
    width: 560px;
    display: none;
  }
}
@media (min-width: 768px) {
  aside {
    width: 750px;
    width: 100px;
    display: block;
  }
}
@media (min-width: 992px) {
  aside {
    width: 970px;
    width: 200px;
    display: flex;
  }
}
aside h1 {
  font-size: 6rem;
  border-bottom: 4px solid var(--line-color);
  border-radius: 4px;
  padding: 30%;
  margin: 0;
  color: black;
  cursor: pointer;
}
aside ul {
  list-style-type: none;
  padding: 0;
  margin-top: 40px;
  font-size: 1.2rem;
  font-weight: 600;
}
aside li {
  margin-bottom: 16px;
  text-align: center;
}
aside a {
  text-decoration: none;
  color: black;
}
aside a:hover {
  color: var(--line-color);
  text-decoration: none;
}
aside i {
  color: var(--line-color);
}
aside .click {
  color: black;
  transition: text-shadow 0.5s ease;
}
aside .click:hover {
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #0ff;
}
aside .icon-container a {
  color: var(--line-color);
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s;
}
aside .icon-container a:hover {
  text-decoration: none;
}
aside .icon-container a:hover .fa-facebook-f {
  color: #1877F2;
}
aside .icon-container a:hover .fa-x-twitter {
  color: #1DA1F2;
}
aside .icon-container a:hover .fa-linkedin-in {
  color: #0A66C2;
}
aside .icon-container a:hover .fa-instagram {
  color: #C13584;
}

:root {
  --line-color: #538be7;
}

.main-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.card {
  flex-basis: 350px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s ease-in-out;
}
.card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.card h2 {
  text-align: center;
}
.card img {
  width: 100%;
  height: auto;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  width: 1311px;
  min-height: 600px;
}
@media (min-width: 280px) {
  .main-grid {
    width: 270px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}
@media (min-width: 576px) {
  .main-grid {
    width: 560px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}
@media (min-width: 768px) {
  .main-grid {
    width: 750px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .main-grid {
    width: 970px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 1260px) {
  .main-grid {
    width: 1311px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.form-container {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}

.contact-form {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-row {
  display: flex;
  gap: 10px;
}

#first-name, #last-name {
  width: 100%;
  gap: 10px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

textarea {
  resize: vertical;
}

button {
  width: 25%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.contact-info {
  text-align: left;
  margin: 20px;
  width: 600px;
}
.contact-info h2 {
  font-size: 1.2em;
}
.contact-info p {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
  margin-top: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --line-color: #538be7;
}

footer {
  bottom: 0;
  margin-top: 100px;
  justify-items: center;
}

.copyright {
  font-size: 0.7rem;
  text-align: center;
}

.to-top {
  font-size: 0.7rem;
  bottom: 20px;
  text-align: center;
  color: #5b5e70;
  padding: 10px;
  margin-bottom: 75px;
  cursor: pointer;
}
.to-top .fa-solid {
  color: #5b5e70;
}

:root {
  --line-color: #538be7;
}

.hero-container {
  display: flex;
}
.hero-container .hero img {
  width: auto;
}
.hero-container .text-container {
  position: absolute;
  justify-self: space-around;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  background-color: rgba(94, 87, 87, 0.1);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 10px;
  z-index: 2;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
}
.hero-container .text-container:hover {
  box-shadow: 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #0ff, 0 0 25px #0ff;
}

.scheme {
  padding: 20px;
  background-color: #f1f1f1;
}
.scheme h1 {
  text-align: center;
  margin-bottom: 20px;
}
.scheme h2 {
  margin-bottom: 10px;
}
.scheme p {
  margin-bottom: 20px;
}
.scheme a {
  color: #007bff;
  text-decoration: none;
  margin-bottom: 20px;
  transition: color 0.5s ease;
}
.scheme a:hover {
  color: #0056b3;
}

:root {
  --line-color: #538be7;
}

:root {
  --line-color: #538be7;
}

.container {
  display: grid;
  grid-template-columns: 200px repeat(3, 1fr);
  grid-template-rows: repeat(3, auto) 100px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1550px;
  height: 100%;
  grid-template-areas: "side head head head" "side main main main" "side main main main" "side foot foot foot";
}
@media (min-width: 280px) {
  .container {
    width: 270px;
    grid-template-columns: 0px 1fr;
    grid-template-rows: auto;
  }
}
@media (min-width: 576px) {
  .container {
    width: 560px;
    grid-template-columns: 0px 1fr 1fr;
    grid-template-rows: auto;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
    grid-template-columns: 100px repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
    grid-template-columns: 200px repeat(3, 1fr);
    grid-template-rows: repeat(3, auto) 100px;
    grid-template-areas: "side head head head" "side main main main" "side main main main" "side foot foot foot";
  }
}

header {
  grid-area: head;
}

main {
  grid-area: main;
}

aside {
  grid-area: side;
}

footer {
  grid-area: foot;
}/*# sourceMappingURL=styles.css.map */