@import url(open_dyslexicOpenDyslexic-Bold.otf);
:root {
  --line-color: #fff;
  --max-w: 100vw;
  --blue-c: #ffb319;
  --red-c: #de4e95;
  --yellow-c: #ffe194;
  --green-c: #88dfd8;
  color-scheme: dark;
}

aside {
  display: none;
  flex-direction: column;
  margin-left: 0;
  align-items: center;
  border-right: 4px solid var(--red-c);
  background-color: var(--blue-c);
  position: fixed;
  max-width: 200px;
  height: 100vh;
  z-index: 200;
}
@media (min-width: 576px) {
  aside footer {
    display: flex;
  }
  aside .about {
    grid-template-columns: 1fr;
  }
  aside .card + .card {
    margin-top: 0px;
  }
  aside .main-grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-top: 50px;
    width: 100%;
    gap: 10px;
  }
}
@media (min-width: 768px) {
  aside .card + .card {
    margin-top: 0px;
  }
  aside .about {
    grid-template-columns: 1fr 2fr;
  }
  aside .main-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 50px;
    width: 100%;
    gap: 20px;
  }
}
@media (min-width: 992px) {
  aside .nav, aside nav {
    display: none;
  }
  aside aside {
    display: flex;
    z-index: 2000;
  }
  aside .text-container {
    max-width: 500px;
  }
  aside .text-container #big {
    font-size: 2rem;
  }
  aside .text-container .typing {
    width: 360px;
    font-size: 2rem;
  }
  aside .text-container h1 {
    font-size: 4rem;
  }
  aside .form-container {
    flex-direction: row;
    margin-left: 200px;
    gap: 20px;
  }
  aside .contact-info {
    margin-bottom: 0;
    margin: 20px;
  }
  aside .form-row {
    flex-direction: row;
    gap: 10px;
  }
  aside .main-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-left: 200px;
    margin-top: 50px;
    width: 90%;
    gap: 20px;
  }
  aside .hero-container {
    width: 100%;
  }
  aside .downwards {
    display: flex;
  }
  aside .scheme {
    margin-left: 200px;
  }
  aside .coming {
    margin-left: 200px;
  }
  aside .about {
    margin-left: 220px;
  }
  aside .card + .card {
    margin-top: 0px;
  }
}
@media (min-width: 1260px) {
  aside .main-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
aside h1 {
  font-size: 6rem;
  border-bottom: 4px solid var(--red-c);
  max-width: 200px;
  padding: 30%;
  margin: 0;
  color: black;
  cursor: pointer;
}
aside ul {
  list-style-type: none;
  padding: 0;
  margin-top: 40px;
  font-size: 1.2rem;
  font-weight: 600;
}
aside li {
  margin-bottom: 16px;
  text-align: center;
}
aside a {
  text-decoration: none;
  color: rgb(61, 61, 61);
}
aside a:hover {
  color: var(--line-color);
  text-decoration: none;
}
aside i {
  color: var(--line-color);
}
aside .contact-me {
  display: flex;
  border-top: 4px solid var(--red-c);
  width: 200px;
  padding-top: 20px;
  padding-left: 45px;
  margin-top: 40px;
}
aside .click {
  color: black;
  transition: text-shadow 0.5s ease;
}
aside .click:hover {
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #0ff;
}
aside .icon-container a {
  text-decoration: none;
  color: rgb(61, 61, 61);
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
  transition: color 0.5s ease;
}
aside .icon-container a:hover .fa-facebook-f {
  color: #1877F2;
}
aside .icon-container a:hover .fa-x-twitter {
  color: #1DA1F2;
}
aside .icon-container a:hover .fa-linkedin-in {
  color: #0A66C2;
}
aside .icon-container a:hover .fa-instagram {
  color: #C13584;
}

:root {
  --line-color: #fff;
  --max-w: 100vw;
  --blue-c: #ffb319;
  --red-c: #de4e95;
  --yellow-c: #ffe194;
  --green-c: #88dfd8;
  color-scheme: dark;
}

main {
  max-width: 100%;
  padding: 20px;
  background-color: rgb(27, 26, 26);
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  background-color: rgb(27, 26, 26);
}
@media (min-width: 576px) {
  .main-grid footer {
    display: flex;
  }
  .main-grid .about {
    grid-template-columns: 1fr;
  }
  .main-grid .card + .card {
    margin-top: 0px;
  }
  .main-grid .main-grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-top: 50px;
    width: 100%;
    gap: 10px;
  }
}
@media (min-width: 768px) {
  .main-grid .card + .card {
    margin-top: 0px;
  }
  .main-grid .about {
    grid-template-columns: 1fr 2fr;
  }
  .main-grid .main-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 50px;
    width: 100%;
    gap: 20px;
  }
}
@media (min-width: 992px) {
  .main-grid .nav, .main-grid nav {
    display: none;
  }
  .main-grid aside {
    display: flex;
    z-index: 2000;
  }
  .main-grid .text-container {
    max-width: 500px;
  }
  .main-grid .text-container #big {
    font-size: 2rem;
  }
  .main-grid .text-container .typing {
    width: 360px;
    font-size: 2rem;
  }
  .main-grid .text-container h1 {
    font-size: 4rem;
  }
  .main-grid .form-container {
    flex-direction: row;
    margin-left: 200px;
    gap: 20px;
  }
  .main-grid .contact-info {
    margin-bottom: 0;
    margin: 20px;
  }
  .main-grid .form-row {
    flex-direction: row;
    gap: 10px;
  }
  .main-grid .main-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-left: 200px;
    margin-top: 50px;
    width: 90%;
    gap: 20px;
  }
  .main-grid .hero-container {
    width: 100%;
  }
  .main-grid .downwards {
    display: flex;
  }
  .main-grid .scheme {
    margin-left: 200px;
  }
  .main-grid .coming {
    margin-left: 200px;
  }
  .main-grid .about {
    margin-left: 220px;
  }
  .main-grid .card + .card {
    margin-top: 0px;
  }
}
@media (min-width: 1260px) {
  .main-grid .main-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card + .card {
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: var(--green-c);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s ease-in-out;
}
.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
}
.card h2 {
  text-align: center;
}
.card a {
  text-decoration: none;
  margin-left: auto;
  color: black;
}
.card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

* {
  box-sizing: border-box;
  font-family: "OpenDylexic-Bold", cursive;
  margin-top: 0;
}

html, body {
  scroll-behavior: smooth;
  background-color: rgb(27, 26, 26);
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --line-color: #fff;
  --max-w: 100vw;
  --blue-c: #ffb319;
  --red-c: #de4e95;
  --yellow-c: #ffe194;
  --green-c: #88dfd8;
  color-scheme: dark;
}

footer {
  display: none;
  flex-direction: column;
  margin-top: auto;
  max-width: 100vw;
  width: 100%;
  align-items: center;
  background-color: rgb(27, 26, 26);
}

.copyright {
  font-size: 0.7rem;
  text-align: center;
  color: #5b5e70;
}

.to-top {
  font-size: 0.7rem;
  bottom: 20px;
  text-align: center;
  color: #5b5e70;
  padding: 10px;
  margin-bottom: 75px;
  cursor: pointer;
}
.to-top .fa-solid {
  color: #5b5e70;
}

:root {
  --line-color: #fff;
  --max-w: 100vw;
  --blue-c: #ffb319;
  --red-c: #de4e95;
  --yellow-c: #ffe194;
  --green-c: #88dfd8;
  color-scheme: dark;
}

.hero {
  height: 100vh;
}
.hero img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.hero-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 26, 26);
}
@media (min-width: 576px) {
  .hero-container footer {
    display: flex;
  }
  .hero-container .about {
    grid-template-columns: 1fr;
  }
  .hero-container .card + .card {
    margin-top: 0px;
  }
  .hero-container .main-grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-top: 50px;
    width: 100%;
    gap: 10px;
  }
}
@media (min-width: 768px) {
  .hero-container .card + .card {
    margin-top: 0px;
  }
  .hero-container .about {
    grid-template-columns: 1fr 2fr;
  }
  .hero-container .main-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 50px;
    width: 100%;
    gap: 20px;
  }
}
@media (min-width: 992px) {
  .hero-container .nav, .hero-container nav {
    display: none;
  }
  .hero-container aside {
    display: flex;
    z-index: 2000;
  }
  .hero-container .text-container {
    max-width: 500px;
  }
  .hero-container .text-container #big {
    font-size: 2rem;
  }
  .hero-container .text-container .typing {
    width: 360px;
    font-size: 2rem;
  }
  .hero-container .text-container h1 {
    font-size: 4rem;
  }
  .hero-container .form-container {
    flex-direction: row;
    margin-left: 200px;
    gap: 20px;
  }
  .hero-container .contact-info {
    margin-bottom: 0;
    margin: 20px;
  }
  .hero-container .form-row {
    flex-direction: row;
    gap: 10px;
  }
  .hero-container .main-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-left: 200px;
    margin-top: 50px;
    width: 90%;
    gap: 20px;
  }
  .hero-container .hero-container {
    width: 100%;
  }
  .hero-container .downwards {
    display: flex;
  }
  .hero-container .scheme {
    margin-left: 200px;
  }
  .hero-container .coming {
    margin-left: 200px;
  }
  .hero-container .about {
    margin-left: 220px;
  }
  .hero-container .card + .card {
    margin-top: 0px;
  }
}
@media (min-width: 1260px) {
  .hero-container .main-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.hero-container .text-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  flex-wrap: wrap;
  max-width: 200px;
  width: 90%;
  text-align: center;
  background-color: rgba(94, 87, 87, 0.1);
  backdrop-filter: blur(20px);
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-radius: 0 10px 10px 0;
  border-left: 4px solid var(--green-c);
  z-index: 2;
  transition: box-shadow 0.5s ease;
}
.hero-container .text-container h1 {
  font-size: 2rem;
  text-shadow: -2px -2px 0 #fff, 2px 2px 0 #000;
}
.hero-container .text-container .typing {
  width: 180px;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-right: 3px solid var(--green-c);
  animation: typing 4s steps(12, end), cursor 0.4s steps(12, end) infinite;
  animation-fill-mode: forwards;
  margin-bottom: 10px;
}
.hero-container .text-container:hover {
  box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 20px #0ff, 0 0 25px #0ff;
}

.scheme {
  margin-left: 20px;
  margin-top: 20px;
}
.scheme h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: 700;
}
.scheme h2 {
  margin-bottom: 10px;
}
.scheme p {
  margin-bottom: 20px;
}
.scheme a {
  color: #007bff;
  text-decoration: none;
  margin-bottom: 20px;
  transition: color 0.5s ease;
}
.scheme a:hover {
  color: #0056b3;
}
.scheme .scs, .scheme .treehouse, .scheme .netmatters {
  margin: 20px;
  margin-bottom: 40px;
  background-color: #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.coming {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  mix-blend-mode: color-burn;
}
.coming img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  mix-blend-mode: blend;
}
.coming h1 {
  margin-left: 200px;
}

.about {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ccc;
  border-radius: 10px;
  max-width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.text {
  margin: 20px;
  font-size: 1.5rem;
  color: black;
}
.text a {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-weight: 600;
}
.text h1, .text h3 {
  text-align: center;
}

.pict {
  border-radius: 10px;
  max-width: 300px;
  margin: 20px;
  justify-self: start;
  align-self: center;
  transition: box-shadow 0.5s ease;
}
.pict:hover {
  box-shadow: 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #0ff, 0 0 25px #0ff;
}

:root {
  --line-color: #fff;
  --max-w: 100vw;
  --blue-c: #ffb319;
  --red-c: #de4e95;
  --yellow-c: #ffe194;
  --green-c: #88dfd8;
  color-scheme: dark;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.contact-form {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--yellow-c);
}

.form-group {
  margin-bottom: 15px;
}

.form-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#first-name, #last-name {
  display: flex;
  width: 100%;
}

input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

textarea {
  resize: vertical;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--green-c);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.contact-info {
  background-color: #8890c6;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
  padding-top: 40px;
  max-width: 100%;
  width: 100%;
}
.contact-info h2 {
  font-size: 1.2em;
}
.contact-info p {
  font-size: 1rem;
}

.number a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(223, 210, 210);
}
.number a:hover {
  color: var(--line-color);
}

:root {
  --line-color: #fff;
  --max-w: 100vw;
  --blue-c: #ffb319;
  --red-c: #de4e95;
  --yellow-c: #ffe194;
  --green-c: #88dfd8;
  color-scheme: dark;
}

.container, .container-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 576px) {
  .container footer, .container-inner footer {
    display: flex;
  }
  .container .about, .container-inner .about {
    grid-template-columns: 1fr;
  }
  .container .card + .card, .container-inner .card + .card {
    margin-top: 0px;
  }
  .container .main-grid, .container-inner .main-grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-top: 50px;
    width: 100%;
    gap: 10px;
  }
}
@media (min-width: 768px) {
  .container .card + .card, .container-inner .card + .card {
    margin-top: 0px;
  }
  .container .about, .container-inner .about {
    grid-template-columns: 1fr 2fr;
  }
  .container .main-grid, .container-inner .main-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 50px;
    width: 100%;
    gap: 20px;
  }
}
@media (min-width: 992px) {
  .container .nav, .container nav, .container-inner .nav, .container-inner nav {
    display: none;
  }
  .container aside, .container-inner aside {
    display: flex;
    z-index: 2000;
  }
  .container .text-container, .container-inner .text-container {
    max-width: 500px;
  }
  .container .text-container #big, .container-inner .text-container #big {
    font-size: 2rem;
  }
  .container .text-container .typing, .container-inner .text-container .typing {
    width: 360px;
    font-size: 2rem;
  }
  .container .text-container h1, .container-inner .text-container h1 {
    font-size: 4rem;
  }
  .container .form-container, .container-inner .form-container {
    flex-direction: row;
    margin-left: 200px;
    gap: 20px;
  }
  .container .contact-info, .container-inner .contact-info {
    margin-bottom: 0;
    margin: 20px;
  }
  .container .form-row, .container-inner .form-row {
    flex-direction: row;
    gap: 10px;
  }
  .container .main-grid, .container-inner .main-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-left: 200px;
    margin-top: 50px;
    width: 90%;
    gap: 20px;
  }
  .container .hero-container, .container-inner .hero-container {
    width: 100%;
  }
  .container .downwards, .container-inner .downwards {
    display: flex;
  }
  .container .scheme, .container-inner .scheme {
    margin-left: 200px;
  }
  .container .coming, .container-inner .coming {
    margin-left: 200px;
  }
  .container .about, .container-inner .about {
    margin-left: 220px;
  }
  .container .card + .card, .container-inner .card + .card {
    margin-top: 0px;
  }
}
@media (min-width: 1260px) {
  .container .main-grid, .container-inner .main-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

:root {
  --line-color: #fff;
  --max-w: 100vw;
  --blue-c: #ffb319;
  --red-c: #de4e95;
  --yellow-c: #ffe194;
  --green-c: #88dfd8;
  color-scheme: dark;
}

.nav button {
  width: 50px;
  font-size: 1.3rem;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 200;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF;
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

#menu {
  padding-top: 80px;
  padding-left: 20px;
}
#menu ul {
  line-height: 36px;
  list-style-type: none;
  font-size: 1.3rem;
}
#menu li {
  text-decoration: none;
  color: rgb(18, 17, 17);
}
#menu .icon-container-1 a {
  text-decoration: none;
  color: rgb(13, 12, 12);
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
  transition: color 0.5s ease;
}
#menu .icon-container-1 a:hover .fa-facebook-f {
  color: #1877F2;
}
#menu .icon-container-1 a:hover .fa-x-twitter {
  color: #1DA1F2;
}
#menu .icon-container-1 a:hover .fa-linkedin-in {
  color: #0A66C2;
}
#menu .icon-container-1 a:hover .fa-instagram {
  color: #C13584;
}/*# sourceMappingURL=styles.css.map */