@use 'mixins' as m;



aside {
    display: none;
    flex-direction: column;
    margin-left: 0;
    align-items: center;
    border-right: 4px solid var(--red-c);
    background-color: #8890c6;
    position: fixed;
    max-width: 200px;
    height: 100vh;
    @include m.responsive;
    z-index: 200;
    
    h1 {
        font-size: 6rem;
        border-bottom: 4px solid var(--red-c); 
        max-width: 200px;
        padding: 30%;
        margin: 0;
        color: black;
        cursor: pointer;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 40px;
        font-size: 1.2rem;
        font-weight: 600;
    }
    li {
        margin-bottom: 16px;
        text-align: center;
    }
    a {
        text-decoration: none;
        color: rgb(61, 61, 61);
        &:hover {
            color: var(--line-color);
            text-decoration: none;
        }
    }
    i {
        color: var(--line-color);
    }
    .contact-me {
        display: flex;
        
        border-top: 4px solid var(--red-c);
        width: 200px;
        padding-top: 20px;
        padding-left: 45px;
        margin-top: 40px;
    }
    @include m.click;

    .icon-container {
        a {
            text-decoration: none;
            color: rgb(61, 61, 61);
            font-size: 1.5rem;
            padding: 10px;
            cursor: pointer;
            transition: color 0.5s ease;
            @include m.s-c;
        }
    }
}