@use 'mixins' as m;

footer {
    display: none;
    flex-direction: column;
    margin-top: auto;
    max-width: 100%;
    width: 95%;
    align-items: center;
}

.copyright {
    font-size: .7rem;
    text-align: center;
}
.to-top {
    font-size: .7rem;
    bottom: 20px;
    text-align: center;
    color: #5b5e70;
    padding: 10px;
    margin-bottom: 75px;
    cursor: pointer;
    .fa-solid {
        color: #5b5e70;
    }
}