@use 'mixins' as m;

.container {
    display: flex;
    flex-direction: column;
    max-width: var(--max-w);
    // max-width: calc(var(--max-w) - 20px);
    // justify-content: center;
    // align-items: center;
    @include m.responsive;
}