@use 'mixins' as m;

.hero img {
    width: 100vw;
    height: 900px;
    object-fit: cover;
    
}

.hero-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    @include m.responsive;
    .text-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        flex-wrap: wrap;
        max-width: 200px;
        width: 900%;
        text-align: left;
        color: #44fa20;
        text-shadow: -2px -2px 0 #fff, 2px 2px 0 #000;
        font-size: 1rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: rgba(94, 87, 87, 0.1);
        backdrop-filter: blur(20px);
        padding: 1rem;
        border-radius: 0 10px 10px 0;
        border-left: 4px solid #44fa20;
        z-index: 2;
        transition: box-shadow 0.5s ease;
        &:hover {
            box-shadow:
                0 0 10px #0ff,
                0 0 20px #0ff,
                0 0 20px #0ff,
                0 0 25px #0ff; 
        }
    }
    
    
}
.typing-container {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #0f0;
    font-size: 1.3rem;
    line-height: 1;
}


@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


@keyframes blink {
    50% {
        border-color: transparent;
    }
}


.typing-container {
    animation: typing 4s steps(30, end), blink 0.7s step-end infinite;
}


.scheme {
    margin-left: 20px;
    margin-top: 20px;
    h1 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2.5rem;
        font-weight: 700;
    }
    h2 {
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 20px;
    }
    a {
        color: #007bff;
        text-decoration: none;
        margin-bottom: 20px;
        transition: color 0.5s ease;
        &:hover {
            color: #0056b3;
        }
    }
    .scs, .treehouse, .netmatters {
        margin: 20px;
        margin-bottom: 40px;
        background-color: #ccc;
        border-radius: 10px;
        padding: 20px;
        margin: 20px;
    }
}

.coming {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    mix-blend-mode: color-burn;
    img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        mix-blend-mode: blend;
    }
    h1 {
        margin-left: 200px;
    }
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #ccc;
    border-radius: 10px;
    max-width: 1200px;
    height: auto;
    grid-template-areas: 'pict text';
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.text {
    grid-area: text;
    margin: 20px;
    font-size: 1.5rem;
    color: black;
    a {
        text-decoration: none;
        color: black;
        font-style: italic;
        font-weight: 600;
    }
    h1, h3 {
        text-align: center;
    }
}
.pict {
    grid-area: pict;
    border-radius: 10px;
    width: 300px;
    margin: 20px;
    justify-self: center;
    align-self: center;
    transition: box-shadow 0.5s ease;
    &:hover {
        box-shadow:
            0 0 10px #0ff,
            0 0 15px #0ff,
            0 0 20px #0ff,
            0 0 25px #0ff; 
    }
}