@use 'mixins' as m;

.hero-container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    @include m.responsive;
    
    .hero img {
        // width: 100%;
        height: 100vh;
        max-height: 1200px;
        object-fit: cover;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        flex-wrap: wrap;
        max-width: 500px;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 1rem;
        background-color: rgba(94, 87, 87, 0.1);
        backdrop-filter: blur(10px);
        padding: 1rem;
        border-radius: 10px;
        z-index: 2;
        transition: box-shadow 0.5s ease;
        &:hover {
            box-shadow:
                0 0 10px #0ff,
                0 0 15px #0ff,
                0 0 20px #0ff,
                0 0 25px #0ff; 
        }
    }
}



.scheme {
    margin-left: 20px;

    h1 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2.5rem;
        font-weight: 700;
    }
    h2 {
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 20px;
    }
    a {
        color: #007bff;
        text-decoration: none;
        margin-bottom: 20px;
        transition: color 0.5s ease;
        &:hover {
            color: #0056b3;
        }
    }
    .scs, .treehouse, .netmatters {
        margin: 20px;
        margin-bottom: 40px;
        background-color: #ccc;
        border-radius: 10px;
        padding: 20px;
        margin: 20px;
    }
}

.coming {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    img {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
    }   
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #ccc;
    border-radius: 10px;
    max-width: 1200px;
    height: auto;
    grid-template-areas: 'pict text';
    margin: 20px;
    
}

.text {
    grid-area: text;
    margin: 20px;
    font-size: 1.5rem;
    color: black;
    a {
        text-decoration: none;
        color: black;
        font-style: italic;
        font-weight: 600;
    }
    h1, h3 {
        text-align: center;
    }
}
.pict {
    grid-area: pict;
    border-radius: 10px;
    width: 300px;
    margin: 20px;
    justify-self: center;
    align-self: center;
    transition: box-shadow 0.5s ease;
    &:hover {
        box-shadow:
            0 0 10px #0ff,
            0 0 15px #0ff,
            0 0 20px #0ff,
            0 0 25px #0ff; 
    }
}