@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Comic Neue", cursive;
    margin-top: 0;

}
html, body {
    scroll-behavior: smooth;
    background-color: #e5dfdf;
    margin: 0;
    padding: 0;
    height: 100%;

}


// .container {
//     margin-right: auto;
//     margin-left: auto;
//     padding-left: 15px;
//     padding-right: 15px;

//     @media (min-width: 576px) {
//         width: 555px;
//     }
//     @media (min-width: 768px) {
//         width: 750px;
//     }
//     @media (min-width: 992px) {
//         width: 970px;

//     }
//     @media (min-width: 1260px) {
//         width: 1200px;
//     }
// }