@use 'mixins' as m;


main {
    max-width: 100%;
    padding: 20px;
    background-color: rgb(27, 26, 26);
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    background-color: rgb(27, 26, 26);
    @include m.responsive;
}

.card + .card {
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: var(--green-c);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease-in-out;
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)inset;
    }
    h2 {
        text-align: center;
    }
    a {
        text-decoration: none;
        margin-left: auto;
        color: black;
    }
    img {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }
}



