:root {
    --line-color: #fff;
    --max-w: 100vw;
    color-scheme: dark;
}

@mixin click {
    .click {
        color: black;
        transition: text-shadow 0.5s ease;
        &:hover {
            text-shadow:
                0 0 5px #0ff,
                0 0 10px #0ff,
                0 0 15px #0ff,
                0 0 20px #0ff; 
        }
    }
}

@mixin s-c {
    &:hover {
        .fa-facebook-f {
            color: #1877F2;
        }
        .fa-x-twitter {
            color: #1DA1F2;
        }
        .fa-linkedin-in {
            color: #0A66C2;
        }
        .fa-instagram {
            color: #C13584;
        }
    }
}

@mixin responsive {
    @media (min-width: 576px) {
        footer {
            display: flex;
        }

        .card + .card {
            margin-top: 0px;
        }

        .main-grid {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            margin-top: 50px;
            width: 100%;
            gap: 10px;
        }
    }
    @media (min-width: 768px) {
        .card + .card {
            margin-top: 0px;
        }

        .main-grid {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            margin-top: 50px;
            width: 100%;
            gap: 20px;
        }
    }
    @media (min-width: 992px) {
        // width: calc(100vw - 200px);
        nav {
            display: none;
        }
        aside {
            display: flex;
        }
        .text-container {
            max-width: 500px;
            #big {
                font-size: 2rem;
            }
        }
        
        .form-container {
            flex-direction: row;
            margin-left: 200px;
            gap: 20px;
        }
        .contact-info {
            margin-bottom: 0;
            margin: 20px;
        }
        .form-row {
            flex-direction: row;
            gap: 10px;
        }
        .main-grid {
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            margin-left: 200px;
            margin-top: 50px;
            width: 90%;
            gap: 20px;
        }
        .hero-container {
            // margin-left: 200px;
            width: 100%;
        }
        .downwards {
            display: flex;
        }
        // .hero-img {
        //     width: 100%;
        //     margin-left: 200px;
        // }
        .scheme {
            margin-left: 200px; 
        }
        .coming {
            margin-left: 200px;
        }
        .about {
            margin-left: 220px;
        }
        .card + .card {
            margin-top: 0px;
        }
    }
    @media (min-width: 1260px) {

        .main-grid {
            grid-template-columns: repeat( 3, 1fr );
        }
        // .hero-img {
        //     max-width: 100%;
        //     height: auto;
        // }

    }

}