@use 'mixins' as m;

.nav button {
    width: 50px;
    font-size: 1.3rem;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 200;
}

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF;
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

#menu {
    padding-top: 80px;
    padding-left: 20px;
    ul {
        line-height: 36px;
        list-style-type: none;
        font-size: 1.3rem;
        li {
            text-decoration: none;
            color: rgb(186, 183, 183);
        }
    }
    .icon-container-1 {
        a {
            text-decoration: none;
            color: rgb(186, 183, 183);
            font-size: 1.5rem;
            padding: 10px;
            cursor: pointer;
            transition: color 0.5s ease;
            @include m.s-c;
        }
    }
}